{% macro render_todo(todo) %}
    <div>
    <span class="id">{{ todo.id }}</span>
    <span class="tags">{{ todo.tags }}</span>
    <span class="description">{{ todo.description }}</span>
    <span class="creator">{{ todo.creator }}</span>
    <span class="created_at">{{ todo.created_at }}</span>
    <span class="goal">{{ todo.goal }}</span>

    <span class="status">{{ todo.status }}</span>
    <input type="checkbox" id="checkbox" data-todo-id="{{ todo.id }}" checked="checked">
    <span class="finished_at">{{ todo.finished_at }}</span>
    </div>
{% endmacro %}