{% macro render_table(todos, current_user, todolist_id, todo_list ) %}
{% from "macro_drop_down_lit.html" import drop_down_list %}

    <table>
        <tr>
            <th>id</th>
            <th class="created">От:</th>
            <th class="description">Desc.</th>
            <th class="assigned">"Отв.</th>
            <th class="goal_at">План:</th>
            <th class="finished_at"> Вып.</th>
        </tr>
        {% for tags, tag_todos in todos | groupby('tags') %}
            <td></td>
            <td class="created"></td>
            <td class="description" id="{{ tags }}">
                <h6 class="marked">
                    <a href="{{ url_for('main.todo_item_new_from_id', todolist_id=todolist_id, from_id=tag_todos[0].id) }}">&plus;add </a>{{ tags }}
                </h6>
            </td>
            <td class="assigned"></td>
            <td class="goal_at"></td>
            <td class="finished_at"></td>
            {% for todo in tag_todos %}
                <tr class="{{ todo.status }}">
                    <td class="id" id="{{ todo.id }}">
                        {% if current_user and current_user.username == todo.creator and todo.editable %}
                            <a href="{{ url_for('main.todo_item',todolist_id=todolist_id, todo_id=todo.id) }}">{{ todo.id }}</a>
                        {% else %}
                            {{ todo.id }}
                        {% endif %}
                    </td>
                    <td class="created" data-tooltip=" {{ todo.creator }}">
                        {{ todo.f_created }}
                    </td>
                    <td class="description">
                        {{ todo.description | safe }}
                        {% if todo.is_finished and todo.editable %}
                            <span class="assigned_to"> Отв.{{ todo.assigned }}</span>
                            <span class="finished_at"><a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                {{ todo.f_finished }} </a></span>
                        {% elif todo.is_finished %}
                            <span class="assigned_to">Отв.{{ todo.assigned }} </span>
                            <span class="finished_at">{{ todo.f_finished }}</span>
                        {% elif todo.f_goal %}
                            <span class="assigned_to">Отв.{{ todo.assigned }}</span>
                            <span class="finished_at">
                                <a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                &check; </a></span>
                        {% endif %}
                    </td>
                    <td class="assigned">{% if todo.assigned %}{{ todo.assigned }}{% endif %}</td>
                    <td class="goal_at {{ todo.goal_state }}">{{ todo.f_goal }}</td>
                    <td class="finished_at">
                        {% if not todo.f_goal %}
                            &#9432;
                        {% elif todo.is_finished and todo.editable %}
                            <a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                {{ todo.f_finished }} </a>
                        {% elif todo.is_finished %} {{ todo.f_finished }}
                        {% elif todo.f_goal %}
                            <a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">&check; </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}


    </table>
{% endmacro %}