{% macro render_table(todos, current_user, todolist_id) %}
    <table>
        <tr>
            <th>id</th>
            <th>От:</th>
            <th></th>
            <th>Отв.:</th>
            <th>План:</th>
            <th>Завершено:</th>
        </tr>
        {% for tags, tag_todos in todos | groupby('tags') %}
            <td></td>
            <td></td>
            <td>
                <h6 class="marked">{{ tags }}</h6>
            </td>
            <td></td>
            <td></td>
            <td></td>
            {% for todo in tag_todos %}
                <tr>
                    <td class="id">
                        {% if current_user and current_user._username == todo.creator and not current_user.b_show_all %}
                            <a href="{{ url_for('main.todo_item',todolist_id=todolist_id, todo_id=todo.id) }}">{{ todo.id }}</a>
                        {% else %}
                            {{ todo.id }}
                        {% endif %}
                    </td>
                    <td class="id" data-tooltip=" {{ todo.creator }}">
                        {{ todo.f_created }}
                    </td>
                    <td class="description">
                        {{ todo.description | safe }}
                    </td>
                    <td class="assigned">{% if todo.assigned %}{{ todo.assigned }}{% endif %}</td>
                    <td class="goal_at {{ todo.goal_state }}">{{ todo.f_goal }}</td>
                    <td class="finished_at">
                        {% if todo.is_finished %}
                            <a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                &cross; </a> {{ todo.f_finished }}
                        {% else %}
                            <a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                &check; </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}


    </table>
{% endmacro %}