{% macro render_table(todos, current_user, todolist_id, todo_list ) %}
    {% from "macro_drop_down_lit.html" import drop_down_list %}

    <table>
        <tr>
            <th class="created">Описание</th>
        </tr>
        {% for tags, tag_todos in todos | groupby('tags') %}
            <tr>
                <td class="description" id="{{ tags }}">
                    <h6 class="marked">
                        <a href="{{ url_for('main.todo_item_new_from_id', todolist_id=todolist_id, from_id=tag_todos[0].id) }}">&plus;add </a>{{ tags }}
                    </h6>
                </td>
            </tr>
            {% for todo in tag_todos %}
                <tr class="{{ todo.status }}">
                    <td class="description" id="{{ todo.id }}">
                    {% if session.get('last_edited', false) and session['last_edited'] == todo.id %} &#9997;{% endif %}
                        <span>
                            <strong>
                                {{ todo.f_created }}
                                {% if current_user and current_user.username == todo.creator and todo.editable %}
                                    <a href="{{ url_for('main.todo_item',todolist_id=todolist_id, todo_id=todo.id) }}">id{{ todo.id }}</a>
                                {% else %}
                                    {{ todo.id }}
                                {% endif %}
                            </strong>
                        </span>

                        <span class="assigned_to"> Отв.{{ todo.assigned }}</span>
                        <div class="dates">
                            {% if todo.f_goal %}
                                <span class="goal_at {{ todo.goal_state }}">срок:{{ todo.f_goal }}</span>
                            {% endif %}

                            {% if todo.is_finished and todo.editable %}
                                <span class="finished_at"><a
                                        href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                {{ todo.f_finished }} </a></span>
                            {% elif todo.is_finished %}
                                <span class="finished_at">{{ todo.f_finished }}</span>
                            {% elif todo.f_goal %}
                                <span class="finished_at">
                                <a href="{{ url_for('main.set_todo_done',todolist_id=todolist_id, todo_id=todo.id) }}">
                                finish </a></span>
                            {% endif %}
                        </div>
                        <span>{{ todo.description | safe }}</span>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}


    </table>
{% endmacro %}