{% extends "base.html" %}
{% from 'macro_render_field.html' import render_field %}


{% block body %}
    <section class="header">
        <style>
            body > #standalone-container {
                margin: 50px auto;
                max-width: 720px;
            }

            #editor-container {
                height: 350px;
            }
        </style>
        {% if current_user %} {{ current_user._username }} {% endif %}

        {% if  todo_id %}
            <h2 class="title"> Event #{{ todo_id }}</h2>
        {% else %}
            <h2 class="title">New Event</h2>
        {% endif %}

        <div class="row">
            {#            <div>#}
            {% if form.errors %}
                <div class="has-error"><strong>ERROR</strong></div>
            {% endif %}
            <form method=post id="form">
                {{ form.hidden_tag() }}
                <dl>
                    {{ render_field(form.tags,  class_="u-full-width", maxlength=1000) }}
                    {% for tags_lists in todolist.get_used_tags_row_advances(current_user.b_show_all,session['tag']) %}
                        <p>
                            {% for tag, weight in tags_lists %}
                                {% if weight == 0 %}
                                    <a class='add_tag'>{{ tag }}</a>
                                {% else %}
                                    <a class='add_tag'> <strong>{{ tag }}</strong></a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endfor %}

                    <div class="u-full-width" id="standalone-container">
                        <div id="toolbar-container">
                            <button class="ql-bold"></button>
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-link"></button>
                            <button class="ql-clean"></button>
                        </div>
                        <div id="editor-container"></div>
                    </div>
                    <p id="p_in_text_list"></p>
                    {{ render_field(form.assigned,  class_="u-full-width", maxlength=64) }}
                    <p>
                        {% for a_to, weight in todolist.get_assigned_to_list_advanced(current_user.b_show_all,session['tag']) %}
                            {% if weight == 0 %}
                                <a class="add_assigned"> {{ a_to }}</a>
                            {% else %}
                                <a class="add_assigned"> <strong>{{ a_to }}</strong></a>
                            {% endif %}
                        {% endfor %}
                    </p>


                    {% if todo_id %}
                        {{ render_field(form.is_finished,  class_="u-full-width") }}
                        {% if form.is_finished.data %}
                            {{ render_field(form.finished_at,  class_="u-full-width") }}
                        {% endif %}
                    {% endif %}
                    {{ render_field(form.submit) }}
                </dl>
            </form>
        </div>
        {#        </div>#}


        <script>
            let quill = new Quill('#editor-container', {
                modules: {
                    syntax: true,
                    toolbar: '#toolbar-container'
                },
                placeholder: 'Compose event here..',
                theme: 'snow'
            });
        </script>

        <script>

            function appendToId(myVariable, elem_id, before = "", after = "") {
                let nbar = myVariable;
                nbar = nbar.replace(/<[^>]*>/g, "");
                if (document.getElementById(elem_id).innerHTML.search(nbar) === -1) {
                    document.getElementById(elem_id).innerHTML += before + nbar + after;
                }
            }

            async function displayWord() {

                try {

                    $(".add_tag").bind('click', function (event) {
                        appendToId(this.innerHTML, "tags", " ")
                    })
                } catch (err) {
                    console.error(err)
                }

                try {
                    $(".add_assigned").bind('click', function (event) {
                        appendToId(this.innerHTML, "assigned", ",")
                        console.log('zzzz')
                    })
                } catch (err) {
                    console.error(err)
                }
            }

            displayWord()
        </script>


        <script>
            let descr_area = document.getElementById('description');
            let submit_entry = function () {
                descr_area.value = quill.root.innerHTML;
                return true
            }
            let new_post_form = document.getElementById('form');
            new_post_form.onsubmit = submit_entry;
            let old_content = descr_area.value;
            const delta = quill.clipboard.convert(old_content);
            quill.setContents(delta, 'silent');


        </script>
    </section>
{% endblock %}