{% extends "base.html" %}
{% from "table_todo.html" import render_table %}

{% block body %}

    <section class="header">
        <h2 class="title">{{ todolist.title|title }} </h2>
    {% if filter_header %}
        <h6>выбрано: {{ filter_header }}</h6>
    {% endif %}
        <div class="row">
            <div class="open-todos">
                {{ render_table(todolist_details, current_user=current_user, todolist_id=todolist.id, todo_list=todolist) }}
            </div>
        </div>

        <div class="tags">
            {% for tags_lists in tg_l %}
                <p>
                    {% for label, tag, weight in tags_lists %}
                        {% if weight == 0 %}
                            <a class="b_hrefs"
                               href="{{ url_for("main.todolist", todolist_id=todolist.id, tag=tag) }}">{{ label }}</a>
                        {% else %}
                            <a class="b_hrefs"
                               href="{{ url_for("main.todolist", todolist_id=todolist.id, tag=tag) }}">
                                <strong>{{ label }}</strong></a>
                        {% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
{#            <a class="b_hrefs"#}
{#               href="{{ url_for("main.todolist", todolist_id=todolist.id, tag='None') }}">All</a>#}
        </div>

        <div class="assigned_tos">
            {% for lbl, a_to,  weight in tg_a %}
                {% if weight == 0 %}
                    <a class="b_hrefs" href="{{ url_for("main.todolist", todolist_id=todolist.id, assigned_to=a_to) }}">
                        {{ lbl }}</a>
                {% else %}
                    <a class="b_hrefs" href="{{ url_for("main.todolist", todolist_id=todolist.id, assigned_to=a_to) }}">
                        <strong>{{ lbl }}</strong></a>
                {% endif %}
            {% endfor %}
{#            <a class="b_hrefs"#}
{#               href="{{ url_for("main.todolist", todolist_id=todolist.id, assigned_to='None') }}">All</a>#}
        </div>


        <div>
            <a class="b_hrefs"
               href="{{ url_for("main.todolist", todolist_id=todolist.id,tag='None', assigned_to='None') }}"><h6>
                All/All</h6></a>
        </div>
    </section>
{% endblock %}
