{% extends "base.html" %}
{% from "table_todo.html" import render_table %}

{% block body %}

    <section class="header">
        <h2 class="title">{{ todolist.title|title }} </h2>
        <div class="row">
            <div class="open-todos">
                {{ render_table(todolist_details, current_user=current_user, todolist_id=todolist.id, todo_list=todolist) }}
            </div>
        </div>

        <div class="tags">
            {% for tags_lists in todolist.get_used_tags_row_advances(current_user.b_show_all,session['tag']) %}
                <p>
                    {% for tag, weight in tags_lists %}
                        {% if weight == 0 %}
                            <a class="b_hrefs"
                               href="{{ url_for("main.todolist", todolist_id=todolist.id, tag=tag) }}">{{ tag }}</a>
                        {% else %}
                            <a class="b_hrefs"
                               href="{{ url_for("main.todolist", todolist_id=todolist.id, tag=tag) }}">
                                <strong>{{ tag }}</strong></a>
                        {% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
            <a class="b_hrefs"
               href="{{ url_for("main.todolist", todolist_id=todolist.id, tag='None') }}">All</a>
        </div>

        <div class="assigned_tos">
            {% for a_to, weight in todolist.get_assigned_to_list_advanced(current_user.b_show_all,session['tag']) %}
                {% if weight == 0 %}
                    <a class="b_hrefs" href="{{ url_for("main.todolist", todolist_id=todolist.id, assigned_to=a_to) }}">
                        {{ a_to }}</a>
                {% else %}
                    <a class="b_hrefs" href="{{ url_for("main.todolist", todolist_id=todolist.id, assigned_to=a_to) }}">
                        <strong>{{ a_to }}</strong></a>
                {% endif %}
            {% endfor %}
            <a class="b_hrefs"
               href="{{ url_for("main.todolist", todolist_id=todolist.id, assigned_to='None') }}">All</a>
        </div>


        <div>
            <a class="b_hrefs"
               href="{{ url_for("main.todolist", todolist_id=todolist.id,tag='None', assigned_to='None') }}"><h6>
                All/All</h6></a>
        </div>
    </section>
{% endblock %}
